<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/main"
            base-name="/web">
      </resource>
      <resource
            alias="/resources"
            base-name="/resources">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/main/MapServlet"
            class="org.rdm.aquabots.dashboard.servlet.MapServlet">
      </servlet>
      <servlet
            alias="/main/BoatServlet"
            class="org.rdm.aquabots.dashboard.servlet.BoatServlet">
      </servlet>
   </extension>

</plugin>
