Label.customLabel {
  font: italic 16px Arial;
  text-shadow: 2px 2px #bbbbbb;
  text-decoration: underline;
}

CTabItem.trajectoryItem {
  background-color: #123456;
}
Composite{
  background-color: #123456;
}

Button{
	background-color: transparent;
}